{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-sm-6" style="background-color:#8e8e8e;"><center><h3><a href="{% url 'login' %}">First</a></h3></center></div>
			<div class="col-sm-6" style="background-color:#e5e5e5;"><center><h3><a href="{% url 'accounts:CurrentRestaurantFormekle' %}">Second</a></h3></center></div>
			<br>
			<br>
			<form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
				{% csrf_token %}
				
				<span class="login100-form-title p-b-30">
					<br>
					Üye Girişi
				</span>
				<br>
				{{ form|crispy }} 


				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" ><a href="{% url 'accounts:CurrentRestaurantFormekle' %}"></a>
						Kaydet
					</button>
				</div>

			</form>
		</div>
	</div>
</div>
<div id="dropDownSelect1"></div>



</body>
</html>

{% endblock %} 