body{
	background:#ffff7a;
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative ;
  top: 0;
  width: 100%;
}
@media (min-width: 768px)
.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: 70px;
}
@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid #FF0000;
}