<ul class="pager">
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link {% if btn == 'logout' %}active{% endif %}" href="{% url 'accounts:logout_view' %}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link {% if btn == 'signin' %}active{% endif %}" href="{% url 'accounts:signin_view' %}">Log In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if btn == 'signup' %}active{% endif %}" href="{% url 'accounts:signup_view' %}">Sign Up</a>
    </li>
    {% endif %}
</ul>