{% block extracss %}<style></style>{% endblock extracss %}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #eee9e9;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="nav-link" href="#"><h2>&emsp;Food Form</h2></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">&emsp;&emsp;Home&emsp;&emsp; <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link {% if btn == 'logout' %}active{% endif %}" href="{% url 'accounts:logout_view' %}">Log Out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link {% if btn == 'signin' %}active{% endif %}" href="{% url 'accounts:signin_view' %}">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if btn == 'signup' %}active{% endif %}" href="{% url 'accounts:signup_view' %}">Sign Up</a>
      </li>
      {% endif %}
    </form>
  </div>
</nav>
