{% extends 'base.html' %}
{% load crispy_forms_tags static %}
{% block title %}Current Restaurant{% endblock %}
{% block jumbotron %} {% include "includes/navbar.html" %}{% include "includes/footer.html" %}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% include "includes/messages.html" %}
			<span class="login100-form-title ">Food Selection</span>
			<br>
			<form method="post" action="{% url 'accounts:currentrestaurant_view' %}" >
				{% csrf_token %}
				{% if request.user.is_superuser %}
				<h4>{{ form|crispy }}</h4>
				{% else %}
				<div class="form-group">
					<label>Restaurant</label>
					<select name="expose">
						{% for res in profile.work_type.prices.all %}
							<option value="{{ res.pk }}">{{ res.name }}</option>
						{% endfor %}
					</select>
				</div>
				{% endif %}
				<button class="login100-form-btn" type="submit" >Submit</button>
				<br>
				<li>
					{% include "includes/account-nav.html" with btn="signin" %}
				</li>
				<nav>
					<ul class="pager">
						<li><a href="{% url 'accounts:signin_view' %}">Previous</a></li>
						<li><a href="{% url 'home' %}">Next</a></li>
					</ul>
				</nav>
			</form>
		</div>
	</div>
</div>
<input type="hidden" name="url2action" value="{% url 'accounts:currentrestaurant_manage' %}">
{% endblock %}
{% block extrajs %}
<script src="{% static 'accounts/currentrestaurant.js' %}"></script>

{% endblock extrajs %}