{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Current Restaurant Form {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3"action="{% url 'accounts:ProfileFormekle' %}">			
			<div class="col-sm-6" style="background-color:#e5e5e5;"><center><h3><a href="{% url 'accounts:signup' %}">first</a></h3></center></div>
			<div class="col-sm-6" style="background-color:#8e8e8e;"><center><h3><a href="{% url 'accounts:ProfileFormekle' %}">second</a></h3></center></div>
			<br>
			<form method="post"  enctype="multipart/form-data" > <!--kayıt edeceği yer action="{% url 'accounts:ProfileFormekle' %}"-->
				<br>
				{% csrf_token %}
				<span class="login100-form-title ">
					<br>
					Üye Ol
				</span>

				<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Boş geçilemez">
					<span class="focus-input100" data-placeholder=></span>	
					{{ form|crispy }}			
				</div>

				<button class="login100-form-btn" type="submit">
					<a href="{% url 'login' %}">Kaydet</a>
				</button>
			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>


{% endblock %} 