{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block jumbotron %} {% include "includes/navbar.html" %}{% include "includes/footer.html" %}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% include "includes/messages.html" %}
			<span class="login100-form-title ">Log In</span>
			<br>
			<form method="post" action="{% url 'accounts:signin_view' %}" >
				{% csrf_token %}
				<h4>{{ form|crispy }}</h4>
				<button class="login100-form-btn" type="submit">Log In</button>
				<nav>
					<ul class="pager">
						<li><a href="{% url 'home' %}">Previous</a></li>
					</ul>
				</nav>
			</form>
		</div>
	</div>
</div>
{% endblock %} 