{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-sm-6 " style="background-color:#8e8e8e;"><center><h3><a href="{% url 'accounts:signup' %}">First</a></h3></center></div>
			<div class="col-sm-6" style="background-color:#e5e5e5;"><center><h3><a href="{% url 'accounts:ProfileFormekle' %}">Second</a></h3></center></div>
			<br>
			<span class="login100-form-title ">
				<br>
				Üye Ol
			</span>
			<br>
			<form method="post" action="{% url 'accounts:signup' %}" >
				{% csrf_token %}
				{{ form|crispy }} 
				<button class="login100-form-btn" type="submit">

					<a href="{% url 'accounts:ProfileFormekle' %}" name="submit" class="submit" id="submit" type="submit"> Signup </a>

				</button>				

			</form>
		</div>
	</div>
</div>

{% endblock %} 
