{% extends 'base.html' %}
{% load crispy_forms_tags static %}
{% block jumbotron %} {% include "includes/navbar.html" %}{% include "includes/footer.html" %}{% endblock %}
{% block title %}Work Type {% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 mb-3">	
			{% include "includes/messages.html" %}	
			<span class="login100-form-title ">Work Type</span>	
			<form method="post" action="{% url 'accounts:worktype_view' %}">
				{% csrf_token %}
				<h4>{{ form|crispy }}</h4>
				<button class="login100-form-btn" type="submit">Save</button>
			</form>
			<table class="table table-bordered" >
				<thead class="thead-dark">
					<tr>
						<th>Work Type</th>
						<th>Prices Preferences</th>
					</tr>
				</thead>
				<tbody>
					{% for worktype in worktypes %}
					<tr>
						<td>{{ worktype.name }}</td>
						<td>{% for prices in worktype.prices.all %}
							{{ prices }}/	
							{% endfor %}</td>
					{% empty %}
					<tr>
						<td colspan="5" class="text-center">
							<i sclass="fas fa-question-circle fa-5x my-5"></i>
							<br>
							<h3>There is no work type</h3>
						</td>
					</tr>
					{% endfor %}
				<br>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}